*{margin: 0px; padding: 0px;}
*{border: 1px solid red;}
header{height: 70px; background-color: #A3A656;}
header li{display: inline-block;}
header nav{float: left;}
header div{float: right;}
section{clear: both;}
.reserva{height: 100px; background-color: #F2F6F6;}
.reserva{border: 3px solid blue;}
.masajes{height: 650px;} /**/
.masajes div{display: inline-block;}
.card-masaje{width: 250px;}
.card-masaje img{width: 250px;}
.socio{height: 770px; background-color: #F2F6F6;}
.socio div{display: inline-block;}
.card-socio{width: 250px;}
footer{height: 97px; background-color: #384001;}
footer li{display: inline-block;}
footer nav{float: left;}
footer div{float: right;}